@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* { box-sizing: border-box }


body {
    margin: 0;
    font-family: "Roboto", serif;
}

h2 {
    font-weight: 600;
    font-size: 2em;
    padding: 1em;
}

h3 {
    font-weight: 600;
    font-size: 1em;
}

#btn { 
    padding: 0.40em;
    margin-top: 1em;
    border-radius: 11px;
    font-weight: 600;
    color: white;
    background-color: #304283;
}   #btn:hover {background-color: #1e2b57;}
    #btn:active {background-color: #242f55;}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* asegura que el nav esté sobre el video */
}


/** HOME **/
#home #amarillo {
    background-color: #E9D89B;
    padding-top: 3em;
}

#home .vid-banner {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

#home .background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video sin deformarlo */
}


section {
    padding-top: 50px; /* Ajusta este valor si el contenido queda muy encima */
}



/* seccion de datos con fondo de la boca */
#home .datos {
    background-image: url('../img/banner_la_boca.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* efecto parallax Scroll */
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .card {
    text-align: center;
    background-color: #b8a974f3;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    margin: 2em;
    padding: 1.50em;
} #home .card:hover {background-color: #978b5df3;}


/* seccion de 'descubri diversidad arg' */
#home .diversidad {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.diversidad div {
    position: relative;
    text-align: center;
}

.diversidad img {
    border-radius: 15px;
    height: auto;
    max-width: 20em;
    margin: 2em;
    margin-top: 2em;
    margin-bottom: 7em;
 }  #home .diversidad img:hover {opacity: 80%;}
    
 .diversidad p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Roboto";
    font-weight: 800;
    font-size: 2em;
    opacity: 0;
} .diversidad div:hover p { opacity: 1;}

/* seccion de truco */

#home .truco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

#img-truco {
    max-width: 20em;
   margin-right: 4em;
}

#txt-truco {
    width: 40em;
}





    



