#nieve {
    background-image: url('../img/nieve.png');
}

#montaña {
    background-image: url('../img/montañas.png');
}

#lagos {
    background-image: url('../img/lagos.png');
}

#playas {
    background-image: url('../img/playa.png');
}

