@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


* { box-sizing: border-box }

::selection {
    background-color: #74ACDF;
}

body, main {
    margin: 0;
    font-family: "Roboto", serif;
    }  

h1 {
    font-weight: 800;
    font-size: 2em;
    padding: 0.50em;
    text-align: center;
}

h2 {
    font-weight: 800;
    font-size: 1.50em;
    font-family: "Roboto", serif;
}

h3 {
    font-size: 1em;
    font-weight: 600;
}

nav {
    position: fixed; /* fijo en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50; /* }asegura que esté encima del contenido */
    background-color: transparent;
    padding: 1rem; 
}

#escarapela {
    max-width: 90px;
    height: auto;
}

#btn { 
    padding: 0.40em;
    margin-top: 1em;
    border-radius: 11px;
    font-weight: 600;
    color: white;
    background-color: #304283;
}   #btn:hover {background-color: #1e2b57;}
    #btn:active {background-color: #242f55;}


.vid-banner, .img-banner {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.img-banner, .vid-banner {
    background-size: cover;
    background-position: center;
}

.img-banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}


/** HOME **/
    #home .background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }

    /* seccion de datos con img de fondo */
    #home .datos {
        background-image: url('../img/banner_la_boca.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #home .card {
        text-align: center;
        background-color: #b8a974f3;
        color: white;
        font-weight: 600;
        border-radius: 10px;
        margin: 2em;
        padding: 1.50em;
    } #home .card:hover {background-color: #978b5df3;}

    /* seccion de 'diversidad arg' */
    .diversidad div {
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        margin: 3em;
    } #home .diversidad img:hover {opacity: 80%;}
            
    .diversidad p {
        opacity: 0;
        color: white;
        font-family: "Roboto";
        font-weight: 800;
        font-size: 2em;
        text-align: center;
    } .diversidad div:hover p { opacity: 1;}

    #nieve { background-image: url('../img/nieve.png'); }
    #montaña { background-image: url('../img/montañas.png'); }
    #lagos { background-image: url('../img/lagos.png');}
    #playas { background-image: url('../img/playa.png'); }


/** HISTORIA **/
    #historia .contenido p, .contenido h3 {
        font-size: 1.20em;
        padding: 1.20em;
    }

    /* imagen de fondo en las franjas primera y tercera */
    .poblamiento { background-image: url(../img/historia-pueblos-originarios.png); }
    .poblamiento:hover { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/historia-pueblos-originarios.png);}
    .independencia { background-image: url(../img/historia-primera-junta.png); }
    .independencia:hover { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/historia-primera-junta.png);}
    .independencia, .poblamiento {
        min-height: 450px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    #historia .banner, #ambiente .banner {
        width: 100%;
        min-height: 500px;
        background-color: #1e2b57;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
}

/** CULTURA **/
    .fondo-destacadas {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        max-height: 580px;
        width: auto;
    }

    .visuales .fondo-destacadas { background-image: url(../cultura/img/banner-cultura-visuales.png); }
    .musicales .fondo-destacadas { background-image: url(../cultura/img/banner-cultura-musica.png); }
    #destacadas { background-image: url(../cultura/img/banner-cultura-destacadas.png); }

    .visuales p, .musicales p {
        margin-bottom: 1.20em;
    }
    
    #cultura .background-video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    
    #cultura .vid-banner h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        padding: 0.5em 1em;
        border-radius: 10px;
    }
    
    /* costumbres arg */
    .costumbres {
        display: flex;
        justify-content: center; 
    } 

    .costumbres img  {
        max-width: 140px;
    }

    .costumbres .izquierda div, .costumbres .derecha div {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.90em;
        padding-bottom: 3em;
    }   .costumbres .derecha img { order: 2 }
        .costumbres .derecha p { order: 1; }


    /* seccion de atajos al final para ir a subpaginas de cultura (gastro/festiv) */
    .ir-subpaginas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        gap: 2em;
    }

    .ir-subpaginas img {
        border-radius: 10px;
    }
    
    .ir-subpaginas div {
        position: relative;
        text-align: center;
    }
    
    .ir-subpaginas h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        background: rgba(0, 0, 0, 0.3); 
        padding: 0.2em;
        border-radius: 5px;
        opacity: 0;
    } .ir-subpaginas div:hover h3 {opacity: 1;}


    /* GASTRONOMÍA */
    #gastronomia .img-banner {
        background-image: url('../cultura/img/gastronomia-banner.png');
        background-attachment: fixed;
    }

    /* seccion comidas tradicionales */
    .comidas-tradi div {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .comidas-tradi img {
        width: 50%; 
        height: auto;
    }
    
    .comidas-tradi p {
        width: 50%; 
        padding: 10px; 
        font-weight: 500;
    }

    /* seccion de paseos gastronomicos */
        .paseos {
            display: flex;
            justify-content: center; 
        } 
  
        .paseos img  {
            max-width: 280px;
        }

    .paseos .izquierda div, .paseos .derecha div {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.90em;
        padding-bottom: 3em;
    }   .costumbres .derecha img { order: 2 }
        .costumbres .derecha p { order: 1; }
        
    /* FESTIVIDADES */
    #festividades #banner-principal {
        background-image: url('../cultura/img/festividades-banner.png');
        background-attachment: fixed;
    }

    #banner-inferior {
        background-image: url('../cultura/img/festividades-banner-inf.png');
    }

    #festividades .fechas p {
        margin-bottom: 2em;
}


/** TURISMO **/
    #turismo .img-banner {
        background-image: url(../turismo/img/turismo-banner-sup.png);
        background-attachment: fixed;
        height: 150vh; 
    }

    #turismo .categorias div {
        height: 570px;
        width: 460px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2em;
    }       

    #ir-verano { background-image: url(../turismo/img/turismo-ban-ver.png);}
    #ir-verano:hover { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../turismo/img/turismo-ban-ver.png); }

    #ir-invierno { background-image: url(../turismo/img/turismo-ban-inv.png);}
    #ir-invierno:hover { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../turismo/img/turismo-ban-inv.png);}
    
    #ir-todo { background-image: url(../turismo/img/turismo-ban-todo.png);}
    #ir-todo:hover { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../turismo/img/turismo-ban-todo.png);}

    #conoce-inv, #conoce-td, #conoce-ver {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100%;
        height: 380px;
        background-size: cover;
    }

    #conoce-inv { background-image: url(../turismo/img/turismo-ban-inv2.png); }
    #conoce-inv:hover { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../turismo/img/turismo-ban-inv2.png); }
    #conoce-td { background-image: url(../turismo/img/turismo-ban-todo2.png) }
    #conoce-td:hover { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../turismo/img/turismo-ban-todo2.png); }
    #conoce-ver { background-image: url(../turismo/img/turismo-ban-ver2.png) }
    #conoce-ver:hover { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../turismo/img/turismo-ban-ver2.png); }
    
    #consejos {
        background-position: center;
        background-size: cover;
        background-image: url(../turismo/img/turismo-banner-inf.png);
    }

    #consejos .derecha img { order: 2; }
    #consejos .derecha p { order: 1; }

    /* INVIERNO */
    #inv-banner-principal {
        background-image: url(../turismo/img/banner-invierno.png);
        background-attachment: fixed;
    }

     /* VERANO */
     #ver-banner-principal {
        background-image: url(../turismo/img/banner-verano.png);
        background-attachment: fixed;
     }

     /*  TODO EL AÑO */
    #td-banner-principal {
    background-image: url(../turismo/img/banner-todo.png);
    background-attachment: fixed;
    }

/*  GUIA DE TURISMO */
    #guia .img-banner {
        background-image: url(../turismo/img/banner-guia.png);
        background-attachment: fixed;
    }

    .consejos p {
        margin-bottom: 1.20em;
    }

    #guia li {
        margin-bottom: 0.30em;
        margin-left: 1em;
    }


/* AMBIENTE */
    #ambiente p, #ambiente ul, #ambiente h3 {
        margin: 1em;
    }

/* CONTACTO */
#contact {
    padding: 25px;
    height: 890px;
    width: 100%;
    background-image: url(../img/contacto-fondo.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center
}
    
/* JUEGO */
#juego { 
    min-height: 220vh; 
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../juego/img/fondo.png);
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;
}

/* MAPA */


/* .tt_custom_sm {
    overflow-y: scroll !important;
    max-height: 100px;
} */


/* version illustrator
.provincia.hovered {
    fill: #3b82f6 !important;
    stroke: #1e40af !important;
    }
*/




/*///////////  RESPONSIVE MOBILE  ////////////*/

@media (max-width: 960px) {




    /*  HOME */
    #home .diversidad {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .diversidad p {
        font-size: 2em;
        padding: 3px 7px;
    }

    #img-truco {
        display: none;
    }

    /* HISTORIA */
        /* en el desktop esto sucede al hacer hover pero en mobile se ve mas oscuro por default */
    .poblamiento { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/historia-pueblos-originarios.png);}
    .independencia { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/historia-primera-junta.png);}

    /* CULTURA */
    .costumbres {
        display: block;
    } 

    .costumbres .derecha img { order: 1 }

    /*  TURISMO */
    #turismo .categorias div {
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
        max-height: 400px;
        margin: 0;
        flex-direction: column;
        color: white;
        font-size: 1em;
    }       

    #consejos img {
        max-width: 100px;
        max-height: 100px;
    }

    #turismo .img-banner {
        height: 120vh; 
    }

    #guia .consejos, #guia .telefonos, #guia .lunfardo {
        margin-left: 2em;
        margin-right: 2em;
    }

    .ir-subpaginas h3 {
        font-size: 1em;
    }

}